<div class="master-layout">

  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <div class="master-top-left">

        <div class="master-title-wrapper">
          <h2>Tax Master</h2>
        </div>

      </div>

      <div class="master-top-right">

        <button
          type="button"
          class="master-btn-outline"
          (click)="refreshTaxes()">

          Refresh

        </button>

        <button
          type="button"
          class="master-btn-primary"
          (click)="newTax()">

          + Add Tax

        </button>

      </div>

    </div>


    <!-- ================= TABLE ================= -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="taxes"

        [columns]="taxColumns"

        (edit)="editTax($event)"

        (delete)="deleteTax($event)">

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="taxTabs"

        [fields]="taxFields"

        [model]="tax"

        (fieldChange)="onFieldChange($event)"

        (saveForm)="saveOrUpdateTax()"

        (cancelForm)="cancelForm()">

      </app-reusable-form>

    </div>

  </ng-container>

</div>