<div class="master-layout">

  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <div class="master-top-left">

        <div class="master-title-wrapper">
          <h2>Customer Master</h2>
        </div>

      </div>

      <div class="master-top-right">

        <button
          type="button"
          class="master-btn-outline"
          (click)="refreshCustomers()">

          Refresh

        </button>

        <button
          type="button"
          class="master-btn-primary"
          (click)="newCustomer()">

          + Add Customer

        </button>

      </div>

    </div>


    <!-- ================= TABLE ================= -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="customers"

        [columns]="customerColumns"

        (edit)="editCustomer($event)"

        (delete)="deleteCustomer($event)">

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="customerTabs"

        [fields]="customerFields"

        [model]="customer"

        (fieldChange)="onFieldChange($event)"

        (saveForm)="saveOrUpdateCustomer()"

        (cancelForm)="cancelForm()">

      </app-reusable-form>

    </div>

  </ng-container>

</div>