<div class="master-layout">

  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <div class="master-top-left">

        <div class="master-title-wrapper">
          <h2>Unit Master</h2>
        </div>

      </div>

      <div class="master-top-right">

        <button
          type="button"
          class="master-btn-outline"
          (click)="refreshUnits()">

          Refresh

        </button>

        <button
          type="button"
          class="master-btn-primary"
          (click)="newUnit()">

          + Add Unit

        </button>

      </div>

    </div>


    <!-- ================= TABLE ================= -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="units"

        [columns]="unitColumns"

        (edit)="editUnit($event)"

        (delete)="deleteUnit($event)">

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="unitTabs"

        [fields]="unitFields"

        [model]="unit"

        (fieldChange)="onFieldChange($event)"

        (saveForm)="saveOrUpdateUnit()"

        (cancelForm)="cancelForm()">

      </app-reusable-form>

    </div>

  </ng-container>

</div>