<div class="master-layout">

  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <div class="master-top-left">

        <div class="master-title-wrapper">
          <h2>Category Master</h2>
        </div>

      </div>

      <div class="master-top-right">

        <button
          type="button"
          class="master-btn-outline"
          (click)="refreshCategories()">

          Refresh

        </button>

        <button
          type="button"
          class="master-btn-primary"
          (click)="newCategory()">

          + Add Category

        </button>

      </div>

    </div>


    <!-- ================= TABLE ================= -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="categories"

        [columns]="categoryColumns"

        (edit)="editCategory($event)"

        (delete)="deleteCategory($event)">

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="categoryTabs"

        [fields]="categoryFields"

        [model]="category"

        (fieldChange)="onFieldChange($event)"

        (saveForm)="saveOrUpdateCategory()"

        (cancelForm)="cancelForm()">

      </app-reusable-form>

    </div>

  </ng-container>

</div>