<div class="master-layout">

  <!-- ================= HEADER ================= -->

  <div class="master-top-header">

    <div class="master-top-left">

      <div class="master-title-wrapper">

        <h2>
          Brand
        </h2>

      </div>

    </div>

    <div class="master-top-right">

      <button
        type="button"
        class="master-btn-outline"
        (click)="refreshBrands()">

        Refresh

      </button>


      <button
        type="button"
        class="master-btn-primary"
        (click)="newBrand()">

        + Add Brand

      </button>

    </div>

  </div>


  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="brands"
        [columns]="brandColumns"
        (edit)="editBrand($event)"
        (delete)="deleteBrand($event)">

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

      [title]="formTitle"

      [tabs]="brandTabs"

      [fields]="brandFields"

      [model]="brand"

      (fieldChange)="onFieldChange($event)"

      (saveForm)="saveOrUpdateBrand()"

      (cancelForm)="cancelForm()"

      >

      </app-reusable-form>

    </div>

  </ng-container>

</div>