<div class="master-layout">

  <!-- =========================================
       TABLE VIEW
  ========================================== -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <!-- LEFT -->

      <div class="master-top-left">

        <div class="master-title-wrapper">

          <h2>

            Role

          </h2>

        </div>

      </div>


      <!-- RIGHT -->

      <div class="master-top-right">

        <button
          type="button"
          class="master-btn-outline"
          (click)="refresh()"
        >

          Refresh

        </button>


        <button
          type="button"
          class="master-btn-primary"
          (click)="addRole()"
        >

          + Add Role

        </button>

      </div>

    </div>


    <!-- TABLE -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="roles"

        [columns]="roleColumns"

        (edit)="editRole($event)"

        (delete)="deleteRole($event)"

      >

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- =========================================
       FORM VIEW
  ========================================== -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="roleTabs"

        [fields]="roleFields"

        [model]="roleModel"

        (saveForm)="saveRole($event)"

        (cancelForm)="cancelForm()"

      >

      </app-reusable-form>

    </div>

  </ng-container>

</div>