<div class="master-layout">


  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <!-- LEFT -->

      <div class="master-top-left">

        <div class="master-title-wrapper">

          <h2>

            Company

          </h2>

        </div>

      </div>


      <!-- RIGHT -->

      <div class="master-top-right">

        <!-- REFRESH -->

        <button
          type="button"
          class="master-btn-outline"
          (click)="refresh()"
        >

          Refresh

        </button>


        <!-- ADD -->

        <button
          type="button"
          class="master-btn-primary"
          (click)="addCompany()"
        >

          + Add Company

        </button>

      </div>

    </div>


    <!-- =========================================
         TABLE VIEW
    ========================================== -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="companies"

        [columns]="companyColumns"

        (edit)="editCompany($event)"

        (delete)="deleteCompany($event)"

      >

      </app-dynamic-table>

    </div>

  </ng-container>


  <!-- =====================================================
       FORM VIEW
  ====================================================== -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="companyTabs"

        [fields]="companyFields"

        [model]="companyModel"

        (saveForm)="saveCompany($event)"

        (cancelForm)="cancelForm()"

      >

      </app-reusable-form>

    </div>

  </ng-container>

</div>