<div class="master-layout">

  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <div class="master-top-left">

        <div class="master-title-wrapper">
          <h2>Branch Counter</h2>
        </div>

      </div>

      <div class="master-top-right">

        <button
          type="button"
          class="master-btn-outline"
          (click)="refresh()"
        >
          Refresh
        </button>

        <button
          type="button"
          class="master-btn-primary"
          (click)="addCounter()"
        >
          + Add Counter
        </button>

      </div>

    </div>


    <!-- TABLE -->

    <div class="master-table-layout">

      <app-dynamic-table
        [data]="counters"
        [columns]="counterColumns"
        (edit)="editCounter($event)"
        (delete)="deleteCounter($event)">
      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="counterTabs"

        [fields]="counterFields"

        [model]="counterModel"

        (fieldChange)="onFieldChange($event)"

        (saveForm)="saveCounter($event)"

        (cancelForm)="cancelForm()"

      >
      </app-reusable-form>

    </div>

  </ng-container>

</div>