<div class="master-layout">

  <!-- ================= HEADER ================= -->

  <div class="master-top-header">

    <div class="master-top-left">

      <div class="master-title-wrapper">
        <h2>Cess</h2>
      </div>

    </div>

    <div class="master-top-right">

      <button
        type="button"
        class="master-btn-outline"
        (click)="refreshCesses()">

        Refresh

      </button>

      <button
        type="button"
        class="master-btn-primary"
        (click)="newCess()">

        + Add Cess

      </button>

    </div>

  </div>


  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="cesses"
        [columns]="cessColumns"
        (edit)="editCess($event)"
        (delete)="deleteCess($event)">

      </app-dynamic-table>

    </div>

  </ng-container>


  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

      [title]="formTitle"

      [tabs]="cessTabs"

      [fields]="cessFields"

      [model]="cess"

      (fieldChange)="onFieldChange($event)"

      (saveForm)="saveOrUpdateCess()"

      (cancelForm)="cancelForm()">

      </app-reusable-form>

    </div>

  </ng-container>

</div>