<div class="master-layout">

  <!-- ================= TABLE VIEW ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <div class="master-top-left">

        <div class="master-title-wrapper">
          <h2>Expense SubCategory Master</h2>
        </div>

      </div>

      <div class="master-top-right">

        <button
          type="button"
          class="master-btn-outline"
          (click)="refreshSubCategories()">

          Refresh

        </button>

        <button
          type="button"
          class="master-btn-primary"
          (click)="newSubCategory()">

          + Add SubCategory

        </button>

      </div>

    </div>


    <!-- ================= TABLE ================= -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="subCategories"

        [columns]="subCategoryColumns"

        (edit)="editSubCategory($event)"

        (delete)="deleteSubCategory($event)">

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM VIEW ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout compact-form">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="subCategoryTabs"

        [fields]="subCategoryFields"

        [model]="subCategory"

        (fieldChange)="onFieldChange($event)"

        (saveForm)="saveSubCategory()"

        (cancelForm)="cancelForm()">

      </app-reusable-form>

    </div>

  </ng-container>

</div>