<div class="master-layout">

  <!-- ================= TABLE ================= -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <div class="master-top-left">

        <div class="master-title-wrapper">

          <h2>

            User

          </h2>

        </div>

      </div>


      <div class="master-top-right">

        <button
          class="master-btn-outline"
          (click)="refresh()"
        >

          Refresh

        </button>


        <button
          class="master-btn-primary"
          (click)="addUser()"
        >

          + Add User

        </button>

      </div>

    </div>


    <div class="master-table-layout">

      <app-dynamic-table

        [data]="users"

        [columns]="userColumns"

        (edit)="editUser($event)"

        (delete)="deleteUser($event)"

      >

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- ================= FORM ================= -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="userTabs"

        [fields]="userFields"

        [model]="userModel"

        (saveForm)="saveUser($event)"

        (cancelForm)="cancelForm()"

      >

      </app-reusable-form>

    </div>

  </ng-container>

</div>