<div class="master-layout">

  <!-- =========================================
       TABLE VIEW
  ========================================== -->

  <ng-container *ngIf="!showForm">

    <div class="master-top-header">

      <!-- LEFT -->

      <div class="master-top-left">

        <div class="master-title-wrapper">

          <h2>

            Department

          </h2>

        </div>

      </div>


      <!-- RIGHT -->

      <div class="master-top-right">

        <!-- REFRESH -->

        <button
          type="button"
          class="master-btn-outline"
          (click)="refresh()"
        >

          Refresh

        </button>


        <!-- ADD -->

        <button
          type="button"
          class="master-btn-primary"
          (click)="addDepartment()"
        >

          + Add Department

        </button>

      </div>

    </div>


    <!-- TABLE -->

    <div class="master-table-layout">

      <app-dynamic-table

        [data]="departments"

        [columns]="departmentColumns"

        (edit)="editDepartment($event)"

        (delete)="deleteDepartment($event)"

      >

      </app-dynamic-table>

    </div>

  </ng-container>



  <!-- =========================================
       FORM VIEW
  ========================================== -->

  <ng-container *ngIf="showForm">

    <div class="master-form-layout">

      <app-reusable-form

        [title]="formTitle"

        [tabs]="departmentTabs"

        [fields]="departmentFields"

        [model]="departmentModel"

        (saveForm)="saveDepartment($event)"

        (cancelForm)="cancelForm()"

      >

      </app-reusable-form>

    </div>

  </ng-container>

</div>